* {
   margin: 0px;
   padding: 0px;
   list-style: none;
   text-decoration: none;
   border-collapse: collapse;
}

/*  ΰ  */
.logo {
   margin-top: 2px;
   background-image: url(../logo.png);
   background-size: cover;
}

.logo a {
   display: block;
   width: 100px;
   height: 60px;
   cursor: pointer;
}

/*  ׸           õ  ޴    */
.menubar {
   position: fixed;
   display: flex;
   width: 100%;
   height: 60px;
}

/*         ,  򸮽 Ʈ,  α   , ȸ        ޴    */
.menubar_menulist {
   right: 0px;
   width: 100%;
   display: inline;
}

/*  ޴               */
.align-right {
   margin-left: auto;
}

/*      ̹   + ˻ â     */
.header {
   width: 100%;
   height: 470px;
   text-align: center;
}

.search {
   margin: 13px 0px 0px 0px;
   width: 400px;
   margin-left: 60px;
}

/*  ׸           õ   Ӵٿ   ޴  */
.dropdown {
   position: relative;
   display: inline-block;
}

.dropbtn {
   background-color: transparent;
   color: orange;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

.dropdown-content {
   background-color: transparent;
   display: none;
   position: absolute;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   color: orange;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown:hover .dropbtn {
   background-color: transparent;
}
/*           Ӵٿ  */

/*            ,          ִ      !      */
.text {
   padding-top: 10%;
   padding-bottom: 2%;
   font-weight: bold;
   font-size: 30px;
   color: white;
   display: block;
}

/*  ˻ â */
.search_input {
   padding: 5px;
   width: 300px;
   height: 25px;
   border: solid 5px orange;
   border-radius: 8px;
   font-size: 14pt;
}

.search_btn {
   padding: 5px;
   border: solid 5px orange;
   font-weight: bold;
   font-size: 14pt;
   color: white;
   border-radius: 8px;
   background-color: orange;
}
.slidecontainer{
   width:100%;
   height:350px;
   margin-top:50px;
   margin-bottom:100px;

}
.slidecontainer div{
   float:left;
}
.slidebutprev{
   width:10%;
   line-height:350px;
}
.slidebutprev input{
   width:30px;
   height:30px;
   margin:auto;
   border:0;
   border-radius:40%;
   background-image:url(../picture/left.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.slidebutnext{
   width:10%;
   line-height:350px;
}
.slidebutnext input{
   width:30px;
   height:30px;
   margin:auto;
   border:0;
   border-radius:40%;
   background-image:url(../picture/right.png);
   background-size:cover;
background-color:rgba(0,0,0,0);


}
.slide 
{   
   position:relative;
   width: 80%;
   height: 350px;
}
.slide a{
   height:350px;
   position:absolute;
}
.slide a img{
background-size:cover;
}

.image img {
   width: 270px;
   margin: 30px 30px;
}

.bigthema1 {
   width: 90%;
   overflow: hidden;
   height: 280px;
}

.bigthema1 ul {
   width: 2300px;
   font-size: 0;
}

.bigthema1 ul li {
   display: inline-block;
   font-size: 0;
   margin-left: 40px;
}

.bigthema1 ul li a img {
   width: 330px;
   height: 280px;
}
.bigthema2 {
   width: 90%;
   overflow: hidden;
   height: 280px;
}

.bigthema2 ul {
   width: 2300px;
   font-size: 0;
}

.bigthema2 ul li {
   display: inline-block;
   font-size: 0;
   margin-left: 40px;
}

.bigthema2 ul li a img {
   width: 330px;
   height: 280px;
}

.container {
   width: 100%;
   height: 300px;
}

.smallthema {
   width: 1150px;
   height: 280px;
   
   overflow: hidden;
}

.smallcontainer1 {
   width: 2400px;
}

.smallcontainer1 a img {
   width: 250px;
   height: 160px;
   margin: 0 20px;
}

.smallsuv1 {
   width: 2400px;
}

.smallsuv1 a {
   display: inline-block;
   width: 250px;
   height: 80px;
   margin: 0 20px;
}

.smallcontainer2 {
   width: 2400px;
}

.smallcontainer2 a img {
   width: 250px;
   height: 160px;
   margin: 0 20px;
}

.smallsuv2 {
   width: 2400px;
}

.smallsuv2 a {
   display: inline-block;
   width: 250px;
   height: 80px;
   margin: 0 20px;
}


.container div {
   float: left;
}
.thebutpre1 input{
   visibility:hidden;
   width:35px;
   height:35px;
   margin:auto;
   border:0;
   border-radius:50%;
   background-image:url(../picture/left.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.thebutpre2 input{
   visibility:hidden;
   width:35px;
   height:35px;
   border:0;
   margin:auto;
   border-radius:50%;
   background-image:url(../picture/left.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.thebutnex1 input{
         
   width:35px;
   height:35px;
   border:0;
   margin:auto;
   border-radius:50%;
   background-image:url(../picture/right.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.thebutnex2 input{
      
   width:35px;
   height:35px;
   border:0;
   margin:auto;
   border-radius:50%;
   background-image:url(../picture/right.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.container .thebutpre1 {
   line-height: 300px;
   width: 5%;
}
.container .thebutnex1 {
   line-height: 300px;
   width: 5%;
}
.container .thebutpre2 {
   line-height: 300px;
   width: 5%;
}
.container .thebutnex2 {
   line-height: 300px;
   width: 5%;
}

.smallslide{
   width:100%;
   height:280px;
}
.smallslide div {
   float: left;
}
.smallbutprev1, .smallbutnext1{
   width:50px;
   line-height:280px;
}
.smallbutprev1 input{
   visibility:hidden;
   width:35px;
   height:35px;
   border:0;
   margin:10px;
   border-radius:50%;
   background-image:url(../picture/left.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.smallbutnext1 input{
   width:35px;
   height:35px;
   border:0;
   margin:10px;
   border-radius:50%;
   background-image:url(../picture/right.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.smallbutprev2, .smallbutnext2{
   width:50px;
   line-height:280px;
   
}
.smallbutprev2 input{
   visibility:hidden;
   width:35px;
   height:35px;
   border:0;
   margin:10px;
   border-radius:50%;
   background-image:url(../picture/left.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}
.smallbutnext2 input{
   width:35px;
   height:35px;
   border:0;
   margin:10px;
   border-radius:50%;
   background-image:url(../picture/right.png);
   background-size:cover;
background-color:rgba(0,0,0,0);
}

.footer{
   width: 100%;
   height:400px;
   background:grey;
      float:left;
}
.fnav{
   text-align:center;
   width:20%;
   height:400px;
   background:grey;
      float:left;
}
.fmain{
   width:60%;
   height:400px;
   background:yellow;
      float:left;
}
.faside{
      float:left;
   width:20%;
   height:400px;
   background:black;
}

.flogo a{
   display:block;
   width:100px;
   height:80px;
   background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FQvMBl%2FbtqWU73BhKO%2F5wu0ncSqNIH9pLpQ6A4Pm1%2Fimg.png);
   background-size: cover;
}

hr{
   width:130px;
   background-color:red;
   margin-left:60px;
}
.fnav ul li{
   margin-top:6px;
}