* {
   margin:0px;
   padding:0px;
   list-style:none;
   text-decoration:none;
   border-collapse:collapse;
}

/*  ΰ  */
.logo {
   margin-top:2px;
   background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FQvMBl%2FbtqWU73BhKO%2F5wu0ncSqNIH9pLpQ6A4Pm1%2Fimg.png);
   background-size: cover;
}
.logo a{
   display: block;
   width: 100px;
   height: 60px;
   cursor: pointer;
   
}

/*  ׸           õ  ޴    */
.menubar {
   position:fixed;
   display:flex;
   width:100%;
   height:60px;
}
